html,body{
  height:100%;
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
}
#o-wrapper{
  height:100%;
  width:100%;
  margin:0 auto;
}
.right{
  background:#ffffff;
  width:50%;
  float:right;
  height:100%;
}
.left{
  background:#1abc9c; /* SHOULD BE SAME AS #c-menu--slide-top */
  width: 50%;
  float:left;
  height:100%;
}
.right, .left{
  display: table-cell;
  vertical-align: middle;
  min-height: 100%;
  text-align: center;
}
.left h1, .right h1{
  margin-top:130px;
  border-width: 2px;
}
.left h2, .right h2{
  text-align: center;
  font-size:36px;
  text-transform: uppercase;
  /*margin-top: 220px;*/
  padding:0 20px;
  margin: 0;
   position: relative;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(0, -50%);
   margin-left: auto;
   margin-right: auto;
   left:0;
   right:0;
}
.left h1, .left h2{
  color:#ffffff;
  text-align: center;
  text-transform: uppercase;
}
.right h1, .right h2{
  color:#1abc9c;
  text-align: center;
  text-transform: uppercase;
}
#logo{
  position: absolute;
  left:20px;
  top:-10px;}
#logo h1{
  font-family: 'Pacifico', cursive;
  color: #ffffff;
  padding:0;
}
#c-mask{
  /*filter: blur(20px);*/
  /*-webkit-filter: blur(10px);*/
}
.c-menu__close{
  position: absolute;
  width:70px !important;
  background: transparent !important;
  top:10px;
  right:0px;
  float:right;
}
.controls{
  position: absolute;
  right:30px;
  bottom:30px;
}
.controls h3{
  color:#1abc9c;
  display: inline;
  margin-right:20px;
}
.btn{
  border: 2px solid #1abc9c;
  color:#1abc9c;
  padding:8px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
#c-menu--slide-right{
  background:#1abc9c; /* SHOULD BE SAME AS .left */
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}
#c-button--slide-right{
  font-size: 34px;
  color:#1abc9c;
  position: absolute;
  right: 20px;
  top:20px;
  cursor: pointer;
}
#c-menu--slide-right h1{
  text-align:center;
  padding-top:40px;
  padding-bottom:0px;
  font-size:28px;
  margin:0;
}
.c-menu__close i{
  font-size: 28px;
  color: #ffffff;
}
.input-number {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
  border: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  height: 40px;
  user-select: none;
  background:#1abc9c; /* SHOULD BE SAME AS #c-menu--slide-top */
  color: #ffffff;
  font-size:16px;
  font-weight: bold;
}

.input-number-decrement,
.input-number-increment {
  display: inline-block;
  line-height: 38px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.counter{
  text-align: center;
  margin-top:40px;
}
.counter i{
  font-size:21px;
}
.keys, .scales{
  text-align: center;
  margin-top:40px;
}
.keys label, .scales label, .counter label{
  font-size:18px;
  padding-bottom:10px;
}
.scales ul.filters{
  width:80%;
  text-align: left;
}
.scales ul.filters li{
  display: block;
  padding-top:5px;
}
/* Core */


.filters input {
  display: none;
}

.filters .icon {
  text-align: center;
  display: inline-block;
}

.filters .icon .fa {
  visibility: hidden;
}

.filters input:checked + .icon .fa {
  visibility: visible;
}


/* IE8 and lower disabling hack because it does not support the :checked selector */

.filters input {
  display: inline\9;
}

.filters .icon {
  display: none\9;
}


/* Optional */

.filters {
  /* prevent accidental selection when clicking */
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.filters li{
  padding-left:3px;
}

.filters label {
  cursor: pointer;
  font-size:13px;
}


/* Checkbox styling */

.filters input {
    margin: 0 .1em; /* Use something similar to .icon */
}
.filters label{
  color: #1abc9c;
}
.filters .icon {
  background: #1abc9c;
  border: 1px solid;
  border-radius: .3em;
  border-color: transparent;
  text-align: center;
  font-size: .8em;
  color: #fff;
  margin: 0 .1em;
  height: 1em;
  width: 1em;
  padding: 0.15em;
  line-height: 1.1em;
  /**
   * Values for height, width and line-height
   * may need to be adjusted depending on your font.
   */
}


/* Inline menu styling */

.filters {
  list-style: none;
  padding: 8px;
  display: inline-block;
}

.filters li {
  display: inline-block;
  margin-right: 0.3em;
}

ul.filters{
  margin:0;
  margin-top:10px;
}

/* Extra beautify */
.filters {
  border-radius: 4px;
  background: #fff;
}
#count, #stop{
  text-transform: uppercase;
}
